@import "../Helper/variable";
@import "../Helper/mixin";
#findMovieTools {
  display: block;
  max-width: 940px;
  margin: auto;
  height: 80px;
  bottom: 0;
  width: 100%;
  transform: translateY(-50%);
  background-color: $color-white-0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  z-index: 2;
  .btn{
    align-self: center;
    cursor: pointer;
    width: 150px;
    height: 80px;
    font-size: 23px;
  padding: 20px;
  }
}
.findMovieBox {
  align-items: center;
  display: flex;
  width: 100%;

  .form-control {
    border-radius: 0 !important ;
    border: none;
    border-right: 1px solid rgb(187, 187, 187);
  }
}

#findMovieTools {
  @include Responsive(xl) {
  }
  @include Responsive(md) {
  }
  @include Responsive(sm) {
  }

  @include Responsive(xs) {
    margin: 40px 0 80px 0;
    display: block !important;
    .findMovieBox {
      display: block !important;
      width: 100%;
    }
    .btn {
      width: 100%;
    }
    .form-control {
      box-shadow: 0 0 10px rgb(0 0 0 / 30%);

      border: none;
    }
    .btn{
      padding: 0;
      height: 50px;
    }
  }
}
