#wrapLoginApp {
  #loginApp {
    padding: 120px 0 80px 0;
    background-image: url("../../../img/backapp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 990px;
  }
  .signin__wrapper {
    max-width: 360px;
    padding: 40px 32px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(
      to bottom,
      rgba(20, 50, 93, 0.9),
      rgba(8, 22, 48, 0.9)
    );
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 45%);
    text-align: center;
    color: #fff;
    border-radius: 6px;
  }
  .signin-logo {
    width: 260px;
  }
}
