.bookingMovie {
  background-image: linear-gradient(to bottom right, purple, pink); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  padding-bottom: 10%;
  height: 100vh;
}
.titleTicket {
  margin-top: 12%;
}
.titleInformation {
  margin-top: 20%;
}

.ghe {
  border: 3px solid;
  width: 45px;
  height: 35px;
  font-size: 12px;
  margin-right: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
}
.gheVip {
  border: 3px solid red;
  width: 45px;
  height: 35px;
  font-size: 12px;
  margin-right: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.rowNumber {
  /* font-size: 25px; */
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  color: yellow;
}
.firstChar {
  color: yellow;
  font-size: 35px;
  margin-right: 15px;
}

.screen {
  border-bottom: 50px solid rgb(255, 159, 95);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100;
  width: 80%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
}

.gheDuocChon {
  border: 3px solid orange;

  background: orange;
  color: #000;

  cursor: no-drop !important;
  border-radius: 5px;
  width: 45px;
  height: 35px;

  margin-right: 2%;
}

.gheDangChon {
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 45px;
  height: 35px;
  margin-right: 2%;
}

.bookingMovie {
  @include Responsive(xl) {
    .screen {
      margin-left: 75px;
    }
    .row{
      margin-right: 0;
    }
  }
  @include Responsive(md) {
    height: auto;

    .screen {
      margin-left: 63px;
    }
    #responisveSellTicket {
      display: block;
    }
    .col-7,
    .col-5{
        max-width: none;
    }
  }
  @include Responsive(sm) {
    .screen {
      margin-left: 50px;
      
    }
    #responisveSellTicket {
      display: block;
    }
    .col-7,
    .col-5{
        max-width: none;
    }
  }
  @include Responsive(xs) {

    .screen {
      border-bottom: 50px solid rgb(255, 159, 95);
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      height: 100;
      width: 350px;
      filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
      color: #fff;
      margin-left: 0px;
  
    }
    #responisveSellTicket {
      display: block;
    }
    .ghe,
    .gheVip,
    .gheDangChon,
    .gheDuocChon {
      width: 22px;
      height: 22px;
    }
    #listChair {
     padding: 1px;
      width: 100%;
      display: inline;
    }
    .col-7,
    .col-5{
        max-width: none;
    }
    margin-top: 100px;
    height: auto;
  }
}
